<%-include("partials/boilerplate")-%>
<%-include("partials/header")-%>
<body class="main-layout">
   
      <div class="loader_bg">
         <div class="loader"><img src="./images/loading.gif" alt="#" /></div>
      </div>
      <div class="about-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="abouttitle">
                     <h2>About Us</h2>
                  </div>
               </div>
               
            </div>
            
         </div>
         
      </div>
      
      <div class="about">
         <div class="container">
            
            <div class="row border">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 about">
                  <div class="about-box">
                     <div class="row">
                        <div class="col-md-10 offset-md-1">
                           <div class="aboutheading">
                              
                              <span style="font-weight: bolder;">If you are not hungry for success, then you are just not eating the right food."
                                 - Ayush Singh
                                 </span>
                           </div>
                        </div>
                     </div>
                     <p> It does appear appealing to be an all-rounder rather being a bookworm. Gone are the days when only those dedicated academic events and programs were used to be organized in educational institutions for the students. The presence of societies who put emphasis on extra-curricular activities and programs in colleges and universities automatically induces a cheerful environment for the students as well as the faculty, promoting a holistic growth and enhanced personality development. These multicultural events and programs become an integral part of the college life of students as it broadens their mental spectrum and boosts their innate potentials. All these ideologies and feelings led to the formation of ‘Epoch’, the Literary and Cultural Society of Jamia Hamdard University. 
                        It was in the late summer of 2018 when three freshers of SEST, who were also music enthusiasts, met and performed in an intra-college competition. Soon after, they observed the lack of a platform in the college where such enthusiasts like them could show up and explore their talents beyond textbooks. A few more students joined shortly and all of them, determined with the idea of a cultural society in their college, embarked on this voyage for the formation of one, later which was named Epoch, meaning the beginning of a period in the history of something significant. Indeed, Epoch was the commencement of glorious times in the university.
                        After months of planning, hard work and execution through tough times, they overcame all the hurdles, and finally, Epoch came into its official existence in the monsoon of 2019. Since then, the society has grown by leaps and bounds with more than 300 student members connected with them from across the university.
                        Epoch has accommodated almost every aspect of culture, arts and literature in the society, right from vocal arts, painting, graffiti, poetry, writing, drama, spoken art, street plays, musical band, and every other facet which Epoch believed needed exposure.
                        Within a couple of months after its birth, Epoch became a notable society of the college, facilitating several events in the campus, as well as participation beyond the university. Epoch Society has so far represented Jamia Hamdard in numerous inter-college events across Delhi-NCR. The students have brought glory by winning in various events in reputed colleges like Symbiosis University, Amity University, and St. Stephen’s College, Ramanujan College, Sri Venkateswara College, and Zakir Husain College of Delhi University to name a few more.
                        </p>
                     
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      </div>
      
      <%-include("partials/footer")-%>
</body>
<%-include("partials/scripts")-%>
</html>