<%-include("partials/boilerplate")-%>
<%-include("partials/header")-%>
<body class="main-layout">
     <div class="about-bg">
        <div class="container">
           <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 <div class="abouttitle">
                    <h2>E</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>
     
     <div class="eventCard">
        <div class="event">
            <div class="eventHeader">
                <span class="eventDate">15/09/22</span>
                <!-- <span>
                    <a href="https://www.instagram.com/p/ChZQSV9vHHS/?igshid=MDJmNzVkMjY=" class="instgEvHeader">
                        <img src="./images/instgramEventHeader.png" 
                        alt="Instagram"/></a>
                </span> -->
            </div>
            
            <img class="contact_imgs" src="./images/Events/WRC.png"/>
            <h1>WRC Recruitment Drive</h1>
            <a href="https://forms.gle/8Umt5rwwcdvRaaFZA" class="register" style="background-color: grey; pointer-events:none">REGISTER NOW!</a>
        </div>
    </div>

    <div class="eventCard">
      <div class="event">
          <div class="eventHeader">
              <span class="eventDate">16/09/22</span>
              <span>
                  <a href="https://www.instagram.com/p/CiR9Q94P4sN/" class="instgEvHeader">
                      <img src="./images/instgramEventHeader.png" 
                      alt="Instagram"/></a>
                      
              </span>
          </div>
          
          <img class="contact_imgs" src="./images/Events/FactOrNot.jpg"/>
          
          <h1>Fact Or Not</h1>
          <a href="https://forms.gle/PLyBREULPwS4N8bHA" class="register" style="background-color: grey; pointer-events:none">REGISTER NOW!</a>
      </div>
  </div>




        
    </div>
    <%-include("partials/footer")-%>
</body>