<%-include("partials/boilerplate")-%>
<%-include("partials/header")-%>
<body>
    <div class="about-bg">
        <div class="container">
           <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 <div class="abouttitle">
                    <h2>Our Team</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>
     
     
     <div class="our_team_col">
        <div class="our_team_row">

            <div class="contact_card">
                <a href="https://www.linkedin.com/in/gauthamkrishna11">
                    <img class="contact_img" src="images/People/Gautham.jpg" alt="">
                </a>    
                <h1>Gautham Krishna</h1>
                <h5>President
                </h5>
            </div>

            <div class="contact_card">
                <a href=" https://www.linkedin.com/in/madiha-tariq-shafiq">
                    <img class="contact_img" src="images/People/Madiha_ts - Madiha Tariq Shafiq.jpg" alt="">
                </a>    
                <h1>Madiha Tariq Shafiq</h1>
                <h5>Vice President
                </h5>
            </div>

            
            <div class="contact_card">
                <a href="https://www.linkedin.com/in/yunus-ali-01748b1b3">
                    <img class="contact_img" src="images/People/yunus.jpg" alt="">
                </a>    
                <h1>Yunus Ali</h1>
                <h5>Joint Secretary
                </h5>
            </div>
            <div class="contact_card">
                
                    <img class="contact_img" src="images/People/farazAhmad.jpg" alt="">
                </a>    
                <h1>Faraz Ahmad</h1>
                <h5>Joint Secretary
                </h5>
            </div>

            
        </div>
        
            <div class="our_team_row">
    
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/aabiyah-zehra-526528202">
                        <img class="contact_img" src="images/People/Abiyah.jpg" alt="">
                    </a>    
                    <h1>Aabiyah Zehra </h1>
                    <h5>Creative & Media Head
                    </h5>
                </div>
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/amrit-kaul-289499208">
                        <img class="contact_img" src="images/People/amrit.jpg" alt="">
                    </a>    
                    <h1>Amrit Kaul</h1>
                    <h5>PR Head
                    </h5>
                </div>
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/neeraj-khanal-533a5321a">
                        <img class="contact_img" src="images/People/NeerajKhanal.jpg" alt="">
                    </a>    
                    <h1>Neeraj Khanal</h1>
                    <h5>Production Head
                    </h5>
                </div>
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/sara-siddiqui-9bb62b213">
                        <img class="contact_img" src="images/People/Sara.jpg" alt="">
                    </a>    
                    <h1>Sara Jamshed Siddiqui</h1>
                    <h5>Editorial Head</h5>
                </div>
                
                <div class="contact_card">
                    <img class="contact_img" src="images/People/AimanFatima.jpg" alt="">
                </a>    
                <h1>Aiman Fatima</h1>
                <h5>WRC Head
                </h5>
                </div>
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/mohd-talib-b655591b5/">
                        <img class="contact_img" src="images/People/talib.jpg" alt="">
                    </a>    
                    <h1>Mohd Talib </h1>
                    <h5>Technical Head
                    </h5>
                </div>
                <div class="contact_card">
                    <a href="https://www.linkedin.com/in/rishi-kukreja-1172281b6">
                        <img class="contact_img" src="images/People/rishi.jpg" alt="">
                    </a>
                <h1>Rishi Kukreja</h1>
                <h5>Event Head
                </h5>
            </div>  
                </div>
        </div>
     <%-include("partials/footer")-%>
</body>
<%-include("partials/scripts")-%>
</html>   