<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <h2 class="repsonive_text_heading">About <strong class="black">Us</strong></h2>
               <span>Undeniably divulging the fact,
                  Creative art looks something and people look something too,
                  Theatre being the pedestal for the expressions to do.
                  Music to our ears are the heavens booked,
                  Literature being the reflection of the society being cooked. 
                  </span>
            </div>
         </div>
      </div>
      <div class="row border">
         <div class="  col-md-12 col-sm-12 about_container_withimg">
            <div class="about_superior">
               <div class="about-box">
                  <p> Jamia Hamdard to us was and still is a plethora of distinctively worth admiring talents but it was inevitable at the same time to roll our eyes from the absence of a society to club these talents under one shade. Gone should be the times of being jack of all traits and master of none. EPOCH certainly had to be a blessing in this disguise.
                     Forming EPOCH, The Literary and Cultural Society of Jamia Hamdard was a Hobson's choice for us to counter the lack of external exposure to all the gems of Hamdard.
                     </p>
                  <a href="about">Read More</a>
               </div>
            </div>

            <div>
               <img id="about_us_image" src="images/Library-.jpg" alt="#">
            </div>
         </div>
         
      </div>
   </div>
</div>