<div class="Contact">
   <div class="sub_contact">
      <div class="container form-container contact_form">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage3">
                  <h2 class="repsonive_text_heading form-header">Contact Us</h2>
               </div>
            </div>
         </div>
         <div class="row form-main">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-main">
               
                  <div id="form-contact">

                  
                  <div class="row form-main">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-input">
                        <input class="form-control " id="name_input" placeholder="Name" type="Name" name="name">
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-input">
                        <input class="form-control" id="phone_input" placeholder="Phone Number" name="phone_number">
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-input">
                        <input class="form-control" id="email_input" placeholder="Email" name="email">
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-input">
                        <textarea class="form-control" id="message_input" rows="4" cols="20" placeholder="Message" name="message"></textarea>
                     </div>
                  </div>

                  <div class="buttonsBlock">
                     <div class="submit-buttons__content">
                       <button class="submit-button submit-button--1" type="submit" title="Submit"> 
                         <span class="submit-button__pending submit-button__pending--1"></span>
                         <span class="submit-button__text submit-button__text--1 sbtbtn">Submit</span>
                         <span class="submit-button__loaded submit-button__loaded--1"> <span>	&#10004; Done </span></span>
                       </button>
                     </div>
                   </div>
                  </div>
               
            </div>
            
         </div>
      </div>
   </div>
   <img src="images/contact.png" alt="Not Available">
</div>
