
<div class="Books">
   <div class="Bookscontainer">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <h2 class="repsonive_text_heading">Ev<strong class="black">ents </strong></h2>
               
            </div>
         </div>
      </div>
      

      <figure class="icon-cards">
         <div class="icon-cards__content">

           <div class="icon-cards__item d-flex align-items-center justify-content-center">
              <span class="h1">
                 <img src="images/Events/Harmonies.jpeg" class="event_slider_img" >
              </span>
            </div>

           <div class="icon-cards__item d-flex align-items-center justify-content-center">
              <span class="h1">
               <img src="images/Events/Stage.jpeg" class="event_slider_img" >
               </span>
            </div>

           <div class="icon-cards__item d-flex align-items-center justify-content-center">
              <span class="h1">
               <img src="images/Events/act.jpeg" class="event_slider_img">
               </span>
            </div>
         </div>
       </figure>
       
       
       
      
   </div>
</div>

