<div class="header-for-mobileonly"> <a href="/"><img src="images/logo.png" alt="#"></a> </div>

      <header>
         
         <div class="header">
         
               <div class="row rows">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="/"><img src="images/logo.png" alt="" class="EPOCHLOGO"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
         
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"> <a href="/">Home</a> </li>
                                 <li> <a href="about">About us</a> </li>
                                 <li><a href="team">Our Team</a></li>
                                 <li><a href="events">Events</a></li>
         
                              </ul>
                           </nav>
         
                  </div>
               </div>
            
         </div>
         
         
      </header>