<section class="OLCM">
   <div id="OLCM1">
      <h1><span>OLCM     </span> <span>2.0</span> </h1>
      <p>
         Who says digital campus is devoid of fun? Epoch, the literary and cultural society of Jamia Hamdard University is back again to host their Online Literary and Cultural Meet 2.0, completely digitally!
         
      </p>
      <a href="events">EVENTS</a>
   </div>
   
</section>

