<div class="scroll_btns">
    <button class="btn__scroll"></button>
    <button class="btn__scroll"></button>
    <button class="btn__scroll"></button>
    <button class="btn__scroll"></button>
    <button class="btn__scroll"></button>
</div>